@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

// common css
$color: (
  back: #fff8ef,
  main: #ff6726,
  text: #444444,
);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: map-get($color, back);
  font-family: "Noto Sans", sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

// nav css
nav {
  position: fixed;
  margin-top: 44px;
  width: 70%;
  z-index: 999;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        color: #000;
        transition: 0.3s;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: map-get($color, main);
        }
      }
      &:nth-child(5) {
        width: 195px;
        height: 70px;
        border: 1px solid map-get($color, text);
        border-radius: 50px;
        font-size: 32px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// section1 css
#sec1 {
  z-index: -1;
  .inner {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sec1_info {
      width: 1489px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .sec1_text_box {
        width: 731px;
        height: 405px;
        display: flex;
        flex-direction: column;
        .sec1_text_box_title {
          color: #000;
          font-size: 36px;
          font-weight: 900;
          margin-bottom: 29px;
        }
        .sec1_text_box_subtitle {
          color: #000;
          font-size: 30px;
          font-weight: 400;
          line-height: 150.673%;
          margin-bottom: 43px;
        }
        .sec1_text_box_moreinfo {
          button {
            width: 250px;
            height: 70px;
            border-radius: 50px;
            background: map-get($color, text);
            color: #fff;
            font-weight: 500;
            font-size: 33px;
            span {
              text-decoration: 1px solid underline;
            }
          }
        }
      }
      .sec1_picture_box {
        position: relative;
        background: url(./portfolio_img/main_back.png) center center/cover
          no-repeat;
        width: 594px;
        height: 531px;
        img {
          position: absolute;
          bottom: -87px;
          left: 49%;
          transform: translateX(-50%);
          width: 500px;
          height: 700px;
          object-fit: cover;
        }
      }
    }
    .sec1_scroll_box {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 123px;
      background: map-get($color, main);
      .sec1_scroll_box_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: rgba($color: #fff, $alpha: 0.17);
        margin-bottom: 12px;
        .scroll_box_icon_line {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 2px;
          height: 35px;
          background: #fff;
          border-radius: 2px;
          .scroll_box_icon_scroll {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background: #fff;
            position: relative;
            animation: moveDown 2s ease infinite;
            @keyframes moveDown {
              0%,
              100% {
                transform: translateY(0);
              }
              50% {
                transform: translateY(23px);
              }
            }
          }
        }
      }
      .sec1_scroll_box_text {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

// section2 css

#sec2 {
  .inner {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .line {
      position: absolute;
      top: 160px;
      width: 600px;
      height: 2px;
      background: #ff6726;
      display: inline-block;
    }
    p {
      animation: moveCross 10s linear infinite;
      font-family: "Palette Mosaic", sans-serif;
      font-size: 128px;
      letter-spacing: -20.48px;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      color: rgba(255, 103, 38, 0.2);
      @keyframes moveCross {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
  }
}
