@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Roboto:wght@400;500&family=Sora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login_page .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.login_page .logo .logo_text {
  background: #a5a5a5;
  width: 105px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.login_page .logo .logo_text p {
  font-family: Jomhuria;
  font-size: 48px;
  margin: 3px;
  margin-top: 12px;
}
.login_page .logo .logo_text p:nth-child(1) {
  color: #bef9e7;
}
.login_page .logo .logo_text p:nth-child(2) {
  color: #fff8b6;
}
.login_page .logo .logo_text p:nth-child(3) {
  color: #ffcee3;
}
.login_page .logo .logo_color {
  width: 90px;
  height: 15px;
  display: flex;
  justify-content: space-between;
}
.login_page .logo .logo_color span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: loading 1.2s linear infinite;
}
.login_page .logo .logo_color span:nth-child(1) {
  background: #ffcee3;
}
.login_page .logo .logo_color span:nth-child(2) {
  background: #fff8b6;
}
.login_page .logo .logo_color span:nth-child(3) {
  background: #bef9e7;
}
.login_page #login_box {
  width: 290px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.login_page #login_box form {
  width: 100%;
  height: 110px;
  margin-bottom: 14px;
}
.login_page #login_box form p {
  color: #222222;
  font-family: sora;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.login_page #login_box form p input {
  border: 1px solid #a5a5a5;
  width: 250px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  font-size: 16px;
}
.login_page #login_box form p input::-moz-placeholder {
  color: #a5a5a5;
}
.login_page #login_box form p input::placeholder {
  color: #a5a5a5;
}
.login_page #login_box form p:nth-child(1) {
  margin-bottom: 14px;
}
.login_page #login_box button {
  border-radius: 10px;
  border: none;
  width: 105px;
  height: 30px;
  font-family: Sora;
  font-weight: bold;
  color: white;
  background: #a5a5a5;
}
.login_page #login_box button:hover {
  color: #6f6f6f;
  background: lightgrey;
  cursor: pointer;
}
.login_page #login_underbox {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #222222;
  margin-bottom: 8px;
}
.login_page #login_underbox #line {
  margin: 0 3px;
}
.login_page #login_underbox button {
  background: none;
  border: none;
  font-family: Roboto;
  font-weight: 500;
}
.login_page #login_underbox button:hover {
  cursor: pointer;
  color: #6f6f6f;
}
.login_page #date {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */