@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Roboto:wght@400;500&family=Sora&display=swap");
// font-family: 'Jomhuria', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Sora', sans-serif;

// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// common css

$color: (
  listpink: #ffcee3,
  listlemon: #fff8b6,
  listblue: #bef9e7,
  maingray: #a5a5a5,
  maintext: #222222,
  darkgray: #6f6f6f,
  important: #ff7070,
);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: map-get($color, listblue);
  }
}

// contents css
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  height: 90%;
  background: white;
  .enter_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .enter_wrap_todo {
      margin: 30px 0 10px 0;
      width: 256px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background: map-get($color, listblue);
      &:nth-child(2){
        margin: 0 0 20px 0 ;
      }
      form {
        border-radius: 5px;
        height: 30px;
        width: 240px;
        background: white;
        display: flex;
        align-items: center;
        padding: 3px;
        .todo {
          width: 190px;
          height: 20px;
          border: none;
          outline: none;
          ::placeholder {
            color: map-get($color, maingray);
            font-size: 16px;
            font-family: Sora;
          }
        }
      }
      &:nth-child(2) {
        
        input[type="date"]::before {
          content: attr(data-placeholder);
          width: 100%;
          color:  map-get($color, darkgray);
          font-family: Sora;
        }      
        input[type="date"]:focus::before,
        input[type="date"]:valid::before {
          display: none;
        }
      }
    }

    .enter {
      border: none;
      background: map-get($color, listblue);
      color: map-get($color, maingray);
      width: 50px;
      height: 30px;
      border-radius: 20px;
      transition: 0.3s;
      &:hover {
        background: none;
        border: 1px solid map-get($color, listblue);
      }
    }
  }
  ul {
    li {
      .list {
        position: relative;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        span {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: map-get($color, listblue);
          &.important {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: map-get($color, important);
          }
        }
        p {
          position: absolute;
          left: 20px;
          width: 200px;
          color: map-get($color, maintext);
          font-family: Roboto;
          font-size: 16px;
          letter-spacing: -0.56px;
          &:nth-child(3){
            left: 180px;
          }
          &.finish {
            color: rgba(34, 34, 34, 0.33);
            font-family: Roboto;
            font-size: 16px;
            letter-spacing: -0.56px;
            text-decoration-line: line-through;
          }
        }
        button {
          color: map-get($color, maingray);
          font-family: Roboto;
          font-size: 13px;
          width: 40px;
          height: 20px;
          border-radius: 10px;
          border: none;
          background: map-get($color, listblue);
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: none;
            border: 1px solid map-get($color, listblue);
          }
        }
      }
      hr {
        margin-top: 2px;
        border: 1px solid map-get($color, listblue);
      }
    }
  }
  .notes {
    position: absolute;
    bottom: 20px;
    height: 120px;
    width: 90%;
    background: #ecfef8;
    color: map-get($color, maingray);
    font-family: Sora;
    font-size: 16px;
    p {
      padding: 5px 0 0 5px;
    }
    textarea {
      width: 100%;
      height: 100px;
      background: inherit;
      border: none;
      outline: none;
      padding: 5px;
    }
  }
}
