@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Roboto:wght@400;500&family=Sora&display=swap");
// font-family: 'Jomhuria', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Sora', sans-serif;

// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// common css
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 844px;
    width: 390px;
  }
}

$color: (
  listpink: #ffcee3,
  listlemon: #fff8b6,
  listblue: #bef9e7,
  maingray: #a5a5a5,
  maintext: #222222,
  darkgray: #6f6f6f,
  important: #ff7070,
);

//main css
.nav {
  width: 350px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 5px;
  .nav_left {
    background: map-get($color, maingray);
    width: 70px;
    height: 27px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: Jomhuria;
      font-size: 32px;
      margin: 3px;
      margin-top: 8px;
      &:nth-child(1) {
        color: map-get($color, listblue);
      }
      &:nth-child(2) {
        color: map-get($color, listlemon);
      }
      &:nth-child(3) {
        color: map-get($color, listpink);
      }
    }
  }
  .nav_right {
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -3.5%;
    color: map-get($color, maingray);
  }
}

.contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  .buttons {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    button {
      width: 33.2%;
      height: 100%;
      color: map-get($color, maingray);
      border-radius: 5px 5px 0 0;
      border: none;
      text-align: center;
      font-family: Jomhuria;
      font-size: 32px;
      &:nth-child(1) {
        background: map-get($color, listpink);
      }
      &:nth-child(2) {
        background: map-get($color, listlemon);
      }
      &:nth-child(3) {
        background: map-get($color, listblue);
      }
      &:hover {
        color: #555;
      }
      &.active {
        color: #555;
      }
    }
  }
  .frames {
    height: 779px;
    width: 100%;
    iframe {
      display: none;
      width: inherit;
      height: inherit;
      &.active{
        display: block;
      }
    }
  }
}
