@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 6701px;
  font-family: "Nunito Sans";
}
body section {
  display: flex;
  justify-content: center;
  align-items: center;
}
body section .inner {
  width: 1529px;
  overflow: hidden;
}

header {
  width: 100%;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header_top {
  height: 50px;
  width: inherit;
  background: #222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}
header .header_top p {
  font-size: 16px;
  font-weight: 400;
  margin: 34.5px;
}
header .header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 1529px;
}
header .header_bottom .haeder_search_wrap {
  display: flex;
  align-items: center;
  width: 947.62px;
  height: 70px;
  border-radius: 50px;
  background: #efefef;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1) inset;
}
header .header_bottom .haeder_search_wrap img {
  width: 23.879px;
  height: 25px;
  margin-left: 25px;
}
header .header_bottom .haeder_search_wrap input {
  background: none;
  border: none;
  outline: none;
  margin-left: 23px;
  width: 850px;
  color: #222;
  font-size: 20px;
}
header .header_bottom .header_personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 30px;
}
header .header_bottom .header_personal .login {
  width: 250px;
  display: flex;
  align-items: end;
}
header .header_bottom .header_personal img {
  width: 25px;
  height: 25px;
}

#sec1 {
  margin-bottom: 156px;
}
#sec1 nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 52px;
  margin-bottom: 56px;
}
#sec1 nav .nav_left {
  display: flex;
}
#sec1 nav .nav_left .nav_left_menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background: #f5f5f5;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
#sec1 nav .nav_left .nav_left_category ul {
  display: flex;
}
#sec1 nav .nav_left .nav_left_category ul li {
  margin-right: 20px;
}
#sec1 nav .nav_left .nav_left_category ul li a {
  color: #000;
}
#sec1 nav .nav_left .nav_left_category ul li:hover {
  border-bottom: 1px solid #000;
}
#sec1 nav .nav_right ul {
  display: flex;
}
#sec1 nav .nav_right ul li {
  cursor: pointer;
  display: flex;
  margin-left: 20px;
  gap: 5px;
}
#sec1 nav .nav_right ul li img {
  width: 30px;
  height: 23px;
}
#sec1 .banner {
  display: flex;
  width: 100%;
  height: 555px;
  margin-bottom: 120px;
}
#sec1 .banner img {
  width: 986px;
  -o-object-fit: cover;
     object-fit: cover;
}
#sec1 .banner .banner_cotents {
  position: relative;
  width: 542px;
  height: 555px;
  background: #c24023;
  color: #fff;
}
#sec1 .banner .banner_cotents .banner_content_inner {
  position: absolute;
  top: 152px;
  left: 26px;
}
#sec1 .banner .banner_cotents .banner_content_inner h2 {
  font-size: 24px;
  font-weight: 700;
}
#sec1 .banner .banner_cotents .banner_content_inner p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 26px;
}
#sec1 .banner .banner_cotents .banner_content_inner .banner_content_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
}
#sec1 .banner .banner_cotents .banner_content_inner .banner_content_button a {
  color: #222;
  font-size: 16px;
  font-weight: 600;
}
#sec1 .sec1_best_categories h1 {
  margin-bottom: 33px;
}
#sec1 .sec1_best_categories .sec1_slider {
  display: flex;
  gap: 20px;
}
#sec1 .sec1_best_categories .sec1_slider .sec1_best_item {
  position: relative;
  height: 232px;
  margin-bottom: 20px;
}
#sec1 .sec1_best_categories .sec1_slider .sec1_best_item img {
  position: relative;
  width: 174px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  filter: brightness(0.8);
  transition: all 0.3s ease-in-out;
}
#sec1 .sec1_best_categories .sec1_slider .sec1_best_item img:hover {
  filter: none;
  transform: scale(1.05);
}
#sec1 .sec1_best_categories .sec1_slider .sec1_best_item p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

#sec2 {
  margin-bottom: 156px;
}
#sec2 .inner {
  display: flex;
  justify-content: space-between;
}
#sec2 .inner .ad_wrap {
  display: flex;
  flex-direction: column;
  height: 738px;
  width: 490px;
}
#sec2 .inner .ad_wrap img {
  height: 490px;
}
#sec2 .inner .ad_wrap .text_box {
  padding: 28px;
  height: 248px;
  background: #f5f5f5;
}
#sec2 .inner .ad_wrap .text_box h1 {
  font-size: 28px;
  font-weight: 800;
}
#sec2 .inner .ad_wrap .text_box p {
  font-size: 16.5px;
  font-weight: 500;
  margin-bottom: 48px;
  width: 434px;
}
#sec2 .inner .ad_wrap .text_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  transition: all 0.2s ease-in-out;
}
#sec2 .inner .ad_wrap .text_box a img {
  width: 18px;
  height: 14px;
}
#sec2 .inner .ad_wrap .text_box a:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
#sec2 .inner .ad_wrap:nth-of-type(1) .text_box {
  background: #ca5008;
  color: #fff;
}
#sec2 .inner .ad_wrap:nth-of-type(1) .text_box a {
  background: #fff;
}

#sec3 .inner {
  display: flex;
  flex-direction: column;
}
#sec3 .inner .sec3_colors {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
}
#sec3 .inner .sec3_colors .sec3_colors_title {
  margin-bottom: 33px;
}
#sec3 .inner .sec3_colors .sec3_colors_slide_wrap .btn_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#sec3 .inner .sec3_colors .sec3_colors_slide_wrap .btn_wrap .slide_btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(34, 34, 34, 0.8);
}
#sec3 .inner .sec3_colors .sec3_colors_slide_wrap .btn_wrap ul {
  display: flex;
  gap: 10px;
}
#sec3 .inner .sec3_colors .sec3_colors_slide_wrap .btn_wrap ul li {
  width: 374px;
  height: 500px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
#sec3 .inner .sec3_colors .sec3_colors_slide_wrap .btn_wrap ul li:hover {
  transform: scale(1.02);
}
#sec3 .inner .sec3_main_color {
  display: flex;
}
#sec3 .inner .sec3_main_color img {
  height: 1000px;
}
#sec3 .inner .sec3_main_color .sec3_main_text {
  width: 757px;
  height: 1000px;
  background: #cc0008;
  color: #fff;
  padding-left: 62px;
  padding-top: 59px;
}
#sec3 .inner .sec3_main_color .sec3_main_text h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 14px;
}
#sec3 .inner .sec3_main_color .sec3_main_text p {
  width: 634px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 41px;
}
#sec3 .inner .sec3_main_color .sec3_main_text .sec3_main_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
}
#sec3 .inner .sec3_main_color .sec3_main_text .sec3_main_button a {
  color: #222;
  font-size: 16px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */